extends layout
block content
  //Başlık bölümündeki bilgileri ayarlaya
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        h1
          |Mekan32
          small &nbsp;Isparta civarındaki mekanları keşfedin!
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Starbucks
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;            

    .col-xs-12.col-sm-12
  .row.list-group
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Gloria Jeans
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 2km
           p.address Iyas Park AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp; 
              span.label.label-warning Aperatifler
              | &nbsp;           
              
    .col-xs-12.col-sm-12
    .row.list-group
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Mado
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 2km
           p.address Iyas Park AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp; 
              span.label.label-warning Tatlılar
              | &nbsp;
              span.label.label-warning Dondurmalar
              | &nbsp;    
              
    .col-xs-12.col-sm-12
    .row.list-group
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Antre Gurme
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 10km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Yemekler
              | &nbsp;
              span.label.label-warning Tatlılar
              | &nbsp;
              span.label.label-warning Kahvaltılar
              | &nbsp;  
              span.label.label-warning Alkoller
              | &nbsp;           
              
    .col-xs-12.col-sm-12
    .row.list-group
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Huni Bar
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 4km
           p.address Kafeler Caddesi
           p
              span.label.label-warning Yemekler
              | &nbsp;
              span.label.label-warning İçecekler
              | &nbsp;
              span.label.label-warning Alkoller
              | &nbsp;  
              span.label.label-warning Canlı Müzik
              | &nbsp;           
              
    .col-xs-12.col-sm-12

    